<footer class="footer" id="contacts">
<div class="container-footer">
    <div class="footer-outer">
        <div class="footer-top">
            <a href="./index.html" class="footer-logo">
                <img src="./img/logo.svg" alt="Focus.Frame" width="127" height="20">
            </a>
            <address class="footer-contacts">
                <a class="address-link" href="tel:+380665438912">
                +38 066 543 8912                  
                </a>
                <p class="address-text">
                1678 S. Pioneer Road Salt Lake City UT 84104
                </p>
                </address>
         </div>
     <div class="footer-block">
       <ul class="footer-social">
        <li class="footer-social-item">
            <a class="social-link" href="https://www.instagram.com/goit.turkiye/" target="_blank">
                INSTAGRAM
            </a>
        </li>
        <li class="footer-social-item">
            <a class="social-link" href="https://www.facebook.com/people/GOIT-T%C3%BCrkiye/61558036560161/"  target="_blank">
                FACEBOOK
            </a>
        </li>
        <li class="footer-social-item">
            <a class="social-link" href="https://m.youtube.com/@GoITTurkey"  target="_blank">
                YOUTUBE
            </a>
        </li>
       </ul>
       <ul class="footer-menu">
        <li class="footer-menu-item">
            <a class="menu-link" href="#">
                ABOUT US
            </a>
        </li>
        <li class="footer-menu-item">
            <a class="menu-link" href="#">
                OUR COURSES
            </a>
        </li>
        <li class="footer-menu-item">
            <a class="menu-link" href="#">
                OUR MENTORS
            </a>
        </li>
        <li class="footer-menu-item">
            <a class="menu-link" href="#">
                REVIEWS
            </a>
        </li>
        <li class="footer-menu-item">
            <a class="menu-link" href="#">
                CONTACTS
            </a>
        </li>
        </ul>
         </div>
      <form class="footer-form" name="email" autocomplete="on">
         <div class="footer-label">
            <label>
                <input class="footer-input" type="email" name="email" placeholder="Enter your email" required />
            </label>
              <button class="footer-btn" type="submit">Go</button>
         </div>
         </form>
        </div>
        <div class="footer-privacy">
            <a class="privacy-link" href="#" target="_blank">
                <p>Privacy Policy </p>
                <p>Public Offering Agreement</p>
            </a>
            <p class="footer-copyright">
            2024 Focus Frame 
            &copy;All rights reserved
            </p>
            
        </div>
</div>
</footer>