<header class="header">
    <div class="container header-container">
        <div class="header-inner-frame">
            <a href="./index.html" class="logo">Focus.Frame</a>

            <div class="header-icon-wrapper">
                <svg class="header-camera-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-camera"></use>
                </svg>
            </div>

            <button type="button" class="mobile-menu-btn">
                <svg class="mobile-menu-icon" width="32" height="22">
                    <use href="./img/icons.svg#icon-menu"></use>
                </svg>
            </button>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#about" class="nav-link">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a href="#courses" class="nav-link">OUR COURSES</a>
                    </li>
                    <li class="nav-item">
                        <a href="#mentors" class="nav-link">OUR MENTORS</a>
                    </li>
                    <li class="nav-item">
                        <a href="#reviews" class="nav-link">REVIEWS</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contacts" class="nav-link">CONTACTS</a>
                    </li>
                </ul>
            </nav>
        </div>

        <a href="#signup" class="signup-btn">SIGN UP</a>
    </div>
</header>