<section class="modal-section">
    <div class="modal-menu">
        <button type="button" class="close-button">
            <div class="modal-svg">
                <svg width="32" height="32">
                    <use href="./img/mobile-x.svg"></use>
                </svg>
            </div>
        </button>
        <nav class="modal-menu-nav">
            <ul class="modal-menu-nav-list">
                <li><a class="link" href="/">ABOUT US</a></li>
                <li><a class="link" href="/">OUR COURSES</a></li>
                <li><a class="link" href="/">OUR MENTORS</a></li>
                <li><a class="link" href="/">REVIEWS</a></li>
                <li><a class="link" href="/">CONTACTS</a></li>
            </ul>
        </nav>
        <img class="mobile-menu-img" src="img/mobile-menu.png" width="329" height="218" alt="fotoğraf makinesi" />
        <img class="tablet-menu-img" src="img/tablet-menu.png" width="480px;" height="476px;"
            alt="fotoğraf makinesi" />
    </div>
</section>