<section class="our-mentors">
    <div class="container">
        <h2 class="our-mentors-title">
            Our <span class="our-mentors-title-mentors">Mentors</span>
        </h2>
        <ul class="our-mentors-list">
            <li class="our-mentors-list-item">
                <img srcset="
                ./img/emilia_smith.png    1x,
                ./img/emilia_smith@2x.png 2x
              " alt="Mentor 1" class="our-mentors-list-item-image" width="180px" height="180px" />
                <h3 class="our-mentors-list-item-name">Emilia Smith</h3>
                <p class="our-mentors-list-item-description">
                    1.5 years of experience
                </p>
            </li>
            <li class="our-mentors-list-item">
                <img srcset="
                ./img/alex_lebedev.png    1x,
                ./img/alex_lebedev@2x.png 2x
              " alt="Mentor 2" class="our-mentors-list-item-image" width="180px" height="180px" />
                <h3 class="our-mentors-list-item-name">Alex Lebedev</h3>
                <p class="our-mentors-list-item-description">
                    3.5 years of experience
                </p>
            </li>
            <li class="our-mentors-list-item">
                <img srcset="
                ./img/mia_dubrovska.png    1x,
                ./img/mia_dubrovska@2x.png 2x
              " alt="Mentor 3" class="our-mentors-list-item-image" width="180px" height="180px" />
                <h3 class="our-mentors-list-item-name">Mia Dubrovska</h3>
                <p class="our-mentors-list-item-description">
                    2.0 years of experience
                </p>
            </li>
            <li class="our-mentors-list-item">
                <img srcset="
                    ./img/eliot_kovalev.png 1x,
                    ./img/eliot_kovalev@2x.png 2x
                  " alt="Mentor 4" class="our-mentors-list-item-image" width="180" height="180" />
                <h3 class="our-mentors-list-item-name">Eliot Kovalev</h3>
                <p class="our-mentors-list-item-description">
                    4.0 years of experience
                </p>
            </li>
        </ul>
    </div>
</section>