<section class="reviews" id="reviews">
      <div class="reviews-container">
        <h2 class="reviews-title">Reviews</h2>
        <ul class="reviews-list">
          <!-- CARD 1 -->
          <li class="review-card">
            <div class="review-header">
              <div class="review-user">
                <img
                  src="./img/user.png"
                  alt="Abraham Baker"
                  class="reviews-avatar"
                />
                <div class="review-meta">
                  <h3 class="review-name">Abraham Baker</h3>
                  <p class="review-role">Student</p>
                  <div class="review-stars">
                    <svg viewBox="0 0 24 24">
                      <path
                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                      />
                    </svg>
                    <svg viewBox="0 0 24 24">
                      <path
                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                      />
                    </svg>
                    <svg viewBox="0 0 24 24">
                      <path
                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                      />
                    </svg>
                    <svg viewBox="0 0 24 24">
                      <path
                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                      />
                    </svg>
                    <svg class="empty" viewBox="0 0 24 24">
                      <path
                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </div>

            <p class="review-text">
              I am very pleased that I decided to enroll in photography school.
              The teachers turned out to be very talented and experienced
              professionals who share their knowledge and are dedicated to their
              work. I was able to expand my skills and discover my own style.
            </p>
          </li>
          <!-- CARD 2-->
          <li class="review-card second-card">
            <div class="review-header">
              <div class="review-user">
                <img
                  src="./img/user2.png"
                  alt="Amanda Lowery"
                  class="reviews-avatar"
                />
                <div class="review-meta">
                  <h3 class="review-name">Amanda Lowery</h3>
                  <p class="review-role">Student</p>
                  <div class="review-stars">
                    <svg viewBox="0 0 24 24">
                      <path
                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                      />
                    </svg>
                    <svg viewBox="0 0 24 24">
                      <path
                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                      />
                    </svg>
                    <svg viewBox="0 0 24 24">
                      <path
                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                      />
                    </svg>
                    <svg viewBox="0 0 24 24">
                      <path
                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                      />
                    </svg>
                    <svg class="empty" viewBox="0 0 24 24">
                      <path
                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </div>

            <p class="review-text">
              The courses at the photography school exceeded all my
              expectations. I gained not only technical knowledge, but also
              inspiration and motivation to reach new heights in my creativity.
              Hands-on classes and workshops helped me understand different
              styles of photography.
            </p>
          </li>
        </ul>
      </div>
    </section>