<div class="signup-section" id="signup">
    <div class="signup-container">

        <div class="signup-content">
            <img src="./img/signup.png" alt="Sign Up" class="signup-title-img">
            <p class="section-desc">Please use the form below to contact us. Enter your name, email, and message and
                we'll get back to you shortly.</p>

            <form class="signup-form">
                <input class="form-input" type="text" name="user-name" id="user-name" placeholder="Enter your name"
                    required>
                <input class="form-input" type="email" name="user-email" id="user-email" placeholder="Enter your email"
                    required>
                <textarea class="form-input form-textarea" name="user-comment" id="user-comment" placeholder="Message"
                    required></textarea>

                <button class="submit-button" type="submit">SEND</button>

                <p class="privacy-note">By clicking on "Send" button, you agree to our <a href="#" class="privacy-link">Privacy
                        Policy</a>, and allow Promodo to use this information for marketing purposes.</p>
            </form>
        </div>

        <div class="signup-visual">
            <img src="./img/block.png" alt="Kameralar ve Arka Plan Şekilleri" class="cameras-block-img">
        </div>
    </div>
</div>